/* @font-face {
    font-family: Naury;
    src: url(fonts/nauryz/NAURYZREDKEDS.ttf);
} */
@font-face {
    font-family: Naury;
    src: url(fonts/Moderustic-Bold.ttf);
}
@font-face {
    font-family: Dudka;
    src: url(fonts/Tilda-Sans.ottt/tilda-sans_light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Dudka;
    src: url(fonts/Tilda-Sans.ottt/tilda-sans_regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Dudka;
    src: url(fonts/Tilda-Sans.ottt/tilda-sans_semibold.ttf);
    font-weight: 500;
}

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Dudka, sans-serif, Arial;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #2e2e2e;
    font-size: 18px;
}

h2, h3 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 3vh;
}

.container {
    width: 80%;
    max-width: 1240px;
    margin: 0 auto;
}

.realise-animation {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.5s ease, transform 0.8s ease;
}

.realise-animation.hidden {
    visibility: hidden;
}

.realise-animation.visible {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.display-phone {
    display: none;
}

header {
    padding: 1.7em 0;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    height: 28px;
    display: flex;
}

header .logo img {
    height: 100%;
}

header a {
    text-decoration: none;
    color: #2e2e2e;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    padding: 20px;
}

header nav ul li a {
    color: #2e2e2e;
    text-decoration: none;
}

#hero {
    position: relative;
    height: 80vh;
    text-align: center;
}

#hero .container {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #f8f8f8;
    z-index: 1;
}

#hero h2 {
    width: 50%;
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

#hero .background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

#hero .down-arrow {
    position: absolute;
    padding: 0;
    background: transparent;
    border: 0;
    width: 32px;
    height: 32px;
    left: calc(50% - 16px);
    bottom: 30px;
    cursor: pointer;
    z-index: 2;
    animation: up-down 3s ease infinite;
}

#hero .down-arrow img {
    width: 100%;
    height: 100%;
    rotate: -90deg;
    filter: invert(1);
}

#hero .btn {
    margin-top: 20px;
    padding: 15px 30px;
    background: #47a52a;
    color: #f8f8f8;
    text-decoration: none;
    border-radius: 30px;
}

#hero_house {
    position: relative;
    margin-top: 11vh;
    height: 20vh;
    width: 100%;
}

#hero_house img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#hero_house .container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    background: #00000090;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
}

#hero_house h2 { 
    font-size: 3vw;
    text-transform: uppercase;
}

#why, #contact {
    padding: 7vh 0;
}

#about {
    margin-bottom: 7vh;
    padding: 5vh 0 7vh;
    border-bottom: 1px solid #2e2e2e63;
}

#about p {
    margin-bottom: 20px;
}

#why {
    background: #e3f1de;
    margin: 7vh 0 0;
}

#why p {
    margin: 20px 0px;
    text-align: justify;
}

.why-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.why__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why__item h3 {
    font-size: 5em;
    border-bottom: 3px solid #47a52a;
    margin: 0;
}

#why .why__item p {
    font-size: 1.2em;
    margin-top: 10px;
    color: #000000;
}

.house-info {
    margin: 40px 0;
}

.house-info__images {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-image {
    width: 50vw;
    height: 35vw;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: 0.3s ease-in-out;
    filter: blur(0px);
}

.main-image img.fade-out {
    filter: blur(4px);
}

.thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.thumbnails img {
    width: 100px;
    height: auto;
    object-fit: cover;
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.thumbnails img:hover {
    transform: scale(1.05);
}

.house-info__text {
    padding: 40px;
    background: #a68f76;
    margin: 30px 0;
    color: #000000;
}

#projects h2 {
    margin-bottom: 7vh;
    font-size: 3em;
    text-align: center;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.project-item {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.project-item:nth-child(even) {
    flex-direction: row-reverse;
}

.project-item:nth-child(even) .project-item__info {
    text-align: left;
}

.project-item img {
    width: 65%;
    object-fit: cover;
}

.project-item__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    text-align: right;
}

.project-item__info h3 {
    font-size: 3em;
    text-align: unset;
    margin-bottom: 0;
}

.project-item__info a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background: #47a52a;
    color: #f8f8f8;
    text-decoration: none;
    box-shadow: 10px -10px 0px 0px #c8c8c8;
    transition: 0.3s;
}

.project-item__info a:hover {
    box-shadow: 0px -0px 0px 0px #f3f3f3;
}

#contact {
    margin: 5vh 0 10vh;
}

#contact .container {
    display: flex;
    justify-content: space-between;
}

#contact h2 {
    font-size: 2.4em;
    background: -webkit-linear-gradient(318deg, #080808, #55493d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-company {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

#contact form {
    display: flex;
    gap: 25px;
    flex-direction: column;
    margin-top: 25px;
}

#contact form input {
    padding: 15px;
    background: #f8f8f8;
    border: 1px solid #2e2e2e;
    font-size: 17px;
    font-family: 'Dudka';
    outline: none;
}

#contact form .telephone {
    position: relative;
    display: flex;
    flex-direction: column;
}

#contact form .telephone input {
    padding-left: 40px;
}

#contact form .telephone span {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #2e2e2e;
}

#contact form button {
    width: 100%;
    height: 50px;
    background: #47a52a;
    color: #f8f8f8;
    border: 0px;
    font-family: 'Dudka';
    font-size: 17px;
    box-shadow: -20px 20px 0px 0px #e2e2e2;
    transition: 0.3s;
}

#contact form button:hover {
    box-shadow: 0px 0px 0px 0px #f5f5f5;
}

footer {
    text-align: center;
    padding: 2em 0;
}

@keyframes up-down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 1160px) {
    body {
        font-size: 16px;
    }

    header nav ul li {
        padding: 10px;
    }

    #hero h2 {
        width: 60%;
    }
}

@media (max-width: 960px) {
    body {
        font-size: 16px;
    }

    .container {
        width: 90%;
    }

    #hero h2 {
        width: 50vw;
    }

    .about__item h3 {
        font-size: 3.5em;
    }

    .about__item p {
        font-size: 1.2em;
    }

    .project-item img {
        width: 55%;
    }
    
    .project-item__info {
        gap: 40px;
    }

    .project-item__info a {
        height: 46px;
        font-size: 1.1em;
        box-shadow: 10px -10px 0px 0px #f3f3f3;
    }
}

@media (max-width: 780px) {
    .display-dsktp {
        display: none;
    }

    .display-phone {
        display: block;
    }

    header .container {
        flex-direction: column;
    }

    #hero h2 {
        width: 75%;
    }

    .why__item h3 {
        font-size: 3em;
    }

    #projects h2 {
        font-size: 2.6em;
    }

    .project-item__info h3 {
        font-size: 2em;
        width: 100%;
    }

    .project-item__info a {
        font-size: 1em;
    }

    .why-content {
        margin: 35px 0px 20px;
    }

    #contact .container {
        flex-direction: column;
        gap: 50px;
    }

    #contact {
        margin: 0 0 3vh;
    }
    
    #contact h2 {
        text-align: left;
    }

    #contact form button {
        font-size: 16px;
        box-shadow: -10px 10px 0px 0px #e2e2e2;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 15px;
    }

    h2, h3 {
        font-size: 2.5em;
    }

    header .logo {
        height: 20px;
        display: flex;
    }

    #hero {
        height: 60vh;
    }

    #hero .container {
        width: calc(100% - 30px);
        padding: 0px 15px;
    }

    #hero h2 {
        width: 100%;
        font-size: 2em;
    }

    #hero .btn {
        padding: 10px 25px;
    }

    #about {
        padding: 5vh 0;
    }
    .about__item p {
        font-size: 4vw;
    }

    .gallery {
        gap: 10vh;
    }

    .project-item {
        gap: 20px;
    }

    .project-item img {
        width: 50%;
    }

    .project-item__info h3 {
        font-size: 1.5em;
    }

    .project-item__info {
        gap: 35px;
    }

    .project-item__info a {
        height: 42px;
        box-shadow: 5px -5px 0px 0px #f3f3f3;
    }

    #why {
        padding: 5vh 0;
    }

    .why-content {
        align-items: flex-start;
    }

    .why__item h3 {
        font-size: 2em;
        text-wrap: nowrap;
    }

    #why .why__item p {
        padding: 0px 5px;
        text-align: center;
        font-size: 1em;
    }

    #contact h2 {
        font-size: 9.5vw;
    }

    #contact form input {
        font-size: 16px;
    }

    .contact-company {
        gap: 13px;
    }
}